.main-background{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1800px;
    background: #cecdcd;
}

.navbar{
    position: fixed;
    background-color: #f1c232;
    height: 100px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.logo{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    color: #000000;
    font-size: 40px;
    font-weight: bolder;
    float: left;
    width: 80px;
    padding-top: 20px;
    text-align: center;
    left: 25px;
}

.links{
    position: absolute;
    left: 300px;
}

.log-link{
    position: absolute;
    left: 1720px;
}

.nav-link{
    font-family: Helvetica, sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    float: left;
    width: 80px;
    padding-top: 35px;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover{
    font-weight: bolder;
}

.modal-contenido{
    background-color:white;
    border: #f1c232 5px;
    border-radius: 90px;
    width: 600px;
    height: 600px;
    padding: 50px 50px;
    top: 19%;
    left: 34%;
    position: absolute;
}

.modal{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    pointer-events:none;
    transition: all 1s;
}

#login:target{
    opacity:1;
    pointer-events:auto;
}

.login-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 40px;
}

.token-price-container{
    position: absolute;
    top: 92px;
    left: 0px;
    width: 100%;
    height: 500px;
    background-color: #f3f3f3b3;
}

.coin-img{
    height: 50px;
    width: 50px;
}

.hypecoin-price{
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 60px;
    font-weight: 500;
    padding-top: 37px;
}

.hypecoin-container{
    position: absolute;
    top: 165px;
    left: 100px;
    width: 500px;
    height: 200px;
}

.hypecoin-img{
    height: 150px;
    width: 150px;
}

.mid-bar{
    height: 400px;
    width: 5px;
    background-color: grey;
}

.mid-pos-prices{
    position: relative;
    top: 50px;
    left: 725px;
}

.btc-container{
    position: absolute;
    top: 125px;
    left: 900px;
    width: 220px;
    height: 60px;
}

.eth-container{
    position: absolute;
    top: 125px;
    left: 1200px;
    width: 220px;
    height: 60px;
}

.bnb-container{
    position: absolute;
    top: 125px;
    left: 1500px;
    width: 220px;
    height: 60px;
}

.uniswap-container{
    position: absolute;
    top: 300px;
    left: 900px;
    width: 220px;
    height: 60px;
}

.polygon-container{
    position: absolute;
    top: 300px;
    left: 1200px;
    width: 220px;
    height: 60px;
}

.chainlink-container{
    position: absolute;
    top: 300px;
    left: 1500px;
    width: 220px;
    height: 60px;
}

.price{
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 33px;
    font-weight: 600;
}

.buy-sell-container{
    position: absolute;
    top: 700px;
    left: 100px;
    height: 500px;
    width: 1720px;
    background-color: rgb(255,255,255,0.5);
    border-radius: 100px;
}

.buy-container{
    position: absolute;
    top: 50px;
    left: 150px;
    height: 400px;
    width: 600px;
    background-color: rgb(255,255,255,0.5);
    border-radius: 100px;
}

.sell-container{
    position: absolute;
    top: 50px;
    left: 1010px;
    height: 400px;
    width: 600px;
    background-color: rgb(255,255,255,0.8);
    border-radius: 100px;
}

.buy-sell-button{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 30px;
    font-weight: 500;
    top: 150px;
    left: 200px;
    height: 70px;
    width: 200px;
    background-color: rgb(241, 194, 50);
    border-radius: 20px;
    text-align: center;
    padding-top: 25px;
    text-decoration: none;
}

.buy-sell-button:hover{
    border-color: #000000;
}

.instant-buy-sell-button{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    top: 200px;
    left: 200px;
    height: 70px;
    width: 200px;
    background-color: rgb(241, 194, 50);
    border-radius: 20px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 12px;
    text-decoration: none;
}

.buy-sell-text{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    top: 60px;
    left: 50px;
    height: 100px;
    width: 500px;
    text-align: center;
}

.second-buy-sell-text{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    top: 30px;
    left: 50px;
    height: 100px;
    width: 500px;
    text-align: center;
}

.biography-container{
    position: absolute;
    top: 1300px;
    left: 0px;
    width: 100%;
    height: 500px;
    background-color: #f3f3f3b3;
}

.token-price-container{
    position: absolute;
    top: 92px;
    left: 0px;
    width: 100%;
    height: 500px;
    background-color: #f3f3f3b3;
}

.mid-pos-bio{
    position: relative;
    top: 50px;
    left: 980px;
}

.git-container{
    position: absolute;
    top: 50px;
    left: 1150px;
    height: 400px;
    width: 600px;
}

.tfg-container{
    position: absolute;
    top: 50px;
    left: 200px;
    height: 400px;
    width: 600px;
}

.login-button{
    background-color: goldenrod;
    border: #000000;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    top: 20px;
    left: 1680px;
    width: 220px !important;
}

.not-login-button{
    background-color: rgb(159 153 135);
    border: #000000;
    color: rgb(0,0,0);
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    top: 20px;
    left: 1630px;
    width: 250px !important;
}

.user-wallet{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border: #000000;
    color:rgb(0,0,0);
    border-radius: 26px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;padding-right: 25px;position: absolute;top: 31px;
    left: 1270px;
}

.cancel-button{
    left: 90px !important;
    top: 275px !important;
}

.continue-button{
    left: 310px !important;
    top: 275px !important;
}

.amount-input{
    position: absolute;
    top: 130px;
    left: 100px;
    height: 35px;
    width: 365px;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 15px;
    border-radius: 15px;
}

.type-input{
    position: absolute;
    top: 180px;
    left: 100px;
    height: 40px;
    width: 406px;
    font-size: 25px;
    border-radius: 15px;
    padding-left: 18px;
}

.checkbox-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 23px;
    position: absolute;
    top: 229px;
    left: 220px;
    font-weight: 500;
}

.checkbox{
    position: absolute;
    top: 237px;
    left: 190px;
}

.ok-wrong-button{
    left: 200px !important;
    top: 230px !important;
}

.ok-wrong-text{
    left: 50px !important;
    top: 100px !important;
}